$text-color: black;

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    // height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 2;

    color: $text-color;
    background-color: rgb(236, 236, 236);
    transition: transform 0.3s ease-in-out;
}

.sticky {
    // top: -5px; /* Adjust the height of your navbar */
    flex-direction: row;

    .logo {
        img {
            height: 100px;
        }
    }
}

.quick-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    border-bottom: 1px solid rgba(132, 132, 132, 0.424);

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            height: 20px;
        }

        p {
            text-transform: none;
        }
    }
}

.logo {
    display: flex;
    gap: 20px;
    padding: 1rem; 
   img {
        // height: 50px;
        height: 200px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}


.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    
    a {
        all: unset;
        margin-right: 20px;
        // font-weight: bold;
        font-size: 24px;
        white-space: nowrap;
        text-transform: none;
        color: #4472c4;
        
        p {
            border: 1px solid black;
            padding: 5px 10px;
        }
        
    }
    
    a:hover {
        color: blue;
        cursor: pointer;
        
        p:hover {
            border: 1px solid white;
            background-color: blue;
            color: white;
        }
    }

    // margin-right: 50px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: right;

    a {
        all: unset;
        margin-right: 20vh;
        // font-weight: bold;
    }

    a:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // height: 60px;

        .top-navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 20em;
            height: 60px;

            .logo {
                padding-left: 0; 

                img {
                    display: flex;
                    justify-content: left;
                    height: 50px;
                }    
            }

            a span {
                font-size: 32px;
            }

            a:hover {
                cursor: pointer;
            }
        }

        .links {
            width: 20em;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: 10px;

            
            a {
                font-size: 24px;
                margin-right: 0;
                white-space: nowrap;
                
                p {
                    margin: 0.5em;
                }

                span {
                    margin-left: 20px;
                }
                // margin-bottom: 10px;
            }
        }
    }   
}