<body>
  <app-navbar></app-navbar>
  <main>
    <app-title-component [titleText]="titleText"></app-title-component>
    <div class="hero">
      <div class="left">
        <h2>Our laboratory offers qualified sample taking and analysis</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <!-- <div class="stats">
          <div class="stat">
            <h2 class="number">25</h2>
            <p class="stat-desc">Years of experience</p>
          </div>
          <div class="stat">
            <h2 class="number">260</h2>
            <p class="stat-desc">Happy clients</p>
          </div>
          <div class="stat">
            <h2 class="number">30</h2>
            <p class="stat-desc">...</p>
          </div>
          <div class="stat">
            <h2 class="number">53</h2>
            <p class="stat-desc">...</p>
          </div>
        </div> -->
      </div>
      <!-- <div class="right">
        <div class="card-container">
          <div class="card-container-filter">
            <div class="content">
              <h2>25</h2>
              <p>Year of experience in this industry</p>  
            </div>  
          </div>
        </div>
      </div> -->
    </div>
    <app-about-hero></app-about-hero>
    <app-services-hero></app-services-hero>
    <app-gallery></app-gallery>
  </main>
</body>