<body>
  <!-- <app-navbar></app-navbar> -->
  <app-alt-navbar></app-alt-navbar>
  <main>
    <app-title-component [titleText]="titleText" [backgroundImagePath]="title_bg_img_path"></app-title-component>
    <!-- <app-title-component [titleText]="titleText"></app-title-component> -->

    <!-- <h2>Analysis</h2> -->
    <div class="analysis">
      
      <div class="card">
        <h3>XRF Analysis</h3>
        <img src="/assets/xrf_analysis.jpeg" alt="">
      </div>
      <div class="card">
        <h3>Atomic Absorption</h3>
        <img src="/assets/atomic_absorption.jpeg" alt="">
      </div>
      <div class="card">
        <h3>Chemical Analysis</h3>
        <img src="/assets/chemical_analysis.jpg" alt="">
      </div>
    </div>

    <div class="sampling">
      <div class="hero">
        <div class="left">
          <img src="/assets/sampling_quartering.webp" alt="">
        </div>
        <div class="right">
          <h2>Sampling</h2>
          <p>During our sampling process we utilise the quartering method ... </p>
        </div>
      </div>
    </div>

  </main>
</body>