<body>
    <!-- <app-navbar></app-navbar> -->
    <app-alt-navbar></app-alt-navbar>
    <main>
      <app-title-component [titleText]="titleText"></app-title-component>
      <!-- <div class="section-links">
        <a href="#our-contacts">Our contacts</a>
        <a href="#get-a-quote">Get a quote</a>
      </div> -->
      <div class="card" id="#our-contacts">
        <div class="contacts">
          <div class="item">Phone: <a href="tel:+(250) 788300142">+(250) 788300142</a></div>
          <div class="item">Email: <a href="mailto:globalanalysisltd@gmail.com">globalanalysisltd@gmail.com</a></div>
          <div class="item">Address: <a href="https://www.google.com/maps/place/1%C2%B057'13.8%22S+30%C2%B009'07.6%22E/@-1.953885,30.1513373,1265m/data=!3m1!1e3!4m4!3m3!8m2!3d-1.9538333!4d30.1521111?hl=en&entry=ttu">Plot № B2, Special Economic Zone, PO Box 3251, Kigali, Rwanda</a></div>
        </div>
        <div class="location">
          <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d2377.961422950152!2d30.151423395245367!3d-1.9538762903935494!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMcKwNTcnMTMuOCJTIDMwwrAwOScwNy42IkU!5e1!3m2!1sen!2sae!4v1709223049541!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
      <div class="card" id="#get-a-quote">
          <div class="form-text">
            <h2>Send an inquiry</h2>
            <p>If you have any questions feel free to send us a message.</p>
          </div>
          <form>
            <label for="">Full Name</label>
            <input type="text" >
            <label for="">Email</label>
            <input type="text" >
            <label for="">Company</label>
            <input type="text" >
            <label for="">Phone Number</label>
            <input type="text" >
            <label for="">Message</label>
            <textarea type="text"></textarea>
            <button>Submit</button>
          </form>
      </div>
    </main>
</body>