<body>
    <app-navbar></app-navbar>
    <main>
      <app-title-component [titleText]="titleText"></app-title-component>
      <div class="card">
          <div class="contacts">
            <div class="item">Phone:</div>
            <div class="item">Email:</div>
            <div class="item">Address:</div>
          </div>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127601.77646628657!2d30.044843234935275!3d-1.9297686057982595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca4258ed8e797%3A0xf32b36a5411d0bc8!2sKigali%2C%20Rwanda!5e0!3m2!1sen!2sae!4v1709212391978!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </main>
</body>