<body>
    <app-navbar></app-navbar>
    <main>
      <app-title-component [titleText]="titleText"></app-title-component>
      <div class="section-links">
        <a href="#our-contects">Our contacts</a>
        <a href="#get-a-quote">Get a quote</a>
      </div>
      <div class="card">
          <div class="contacts">
            <div class="item">Phone:</div>
            <div class="item">Email:</div>
            <div class="item">Address:</div>
          </div>
        <div class="location">
          <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d2377.961422950152!2d30.151423395245367!3d-1.9538762903935494!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMcKwNTcnMTMuOCJTIDMwwrAwOScwNy42IkU!5e1!3m2!1sen!2sae!4v1709223049541!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
    </main>
</body>