$background-color: #2F79F6;
$text-color: white;

* {
    font-family: 'Roboto', sans-serif;
}

app-navbar {
    z-index: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 15px;
    width: 80%;
}

.card {    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;
    height: 40vh;
    margin-top: 5rem;

    // border: 1px solid black;

    .item {
        padding: 10px;
        border-bottom: 1px solid black;
        width: 20rem;
    }

}

.location {
    iframe {
        height: 30vh;
        width: 50vh;
    }
}

@media screen and (max-width: 900px) {
    main {
        h2 {
            width: 200px;
        }

        .card {
            flex-direction: column;
            height: fit-content;
        }
    }

}